body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(77, 77, 77);
    margin: 75px;
    background-position: center;
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
}

#kaynlogo {
    border-radius: 100%;
    text-align: center;
    margin-left: 822px;
    width: 7%;
    
    
}


.footer .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

li {
    list-style-type: circle;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: yellow;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: orange;
}

.about {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.skills {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

